*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}
a{
    text-decoration: none;
}
header{
    background: url(images/mobile/image-hero.jpg) center center /cover no-repeat;
    display:block;
    height:750px;
}
.top-flex{
    display: flex;
    justify-content: space-between;
    padding:40px 15px;
}
.logo{
    width:150px;
}
.burger{
    width:24px;
    height:16px;
}
.close{
    width:20px;
    height:20px;
}
.menu{
    position:fixed;
    transform: translateY(-100%);
    background: black;
    text-transform: uppercase;
    z-index: 100;
    width:100%;
    transition: .0s;
}
.open{
    transform: translateY(0);
    height:100vh;
}
.menu ul a{
    color:white;
}
.menu ul{
    margin-top:100px;
}
.menu ul li{
    margin:20px 0 20px 20px ;
    font-size: 1.3rem;
}
h1{
    color:white;
    text-transform: uppercase;
    font-weight: 300;
    width:85vw;
    font-size: min(10vw,94px);
    padding: 3vh 5vw 2vh;
    border:solid 3px white;
    margin-left: auto;
    margin-right: auto;
    opacity:.9;
    letter-spacing: 0.2rem;
    margin-top: 23vh; 
    overflow: hidden;
    line-height:min(10vw,94px);
    max-width: 800px;
}


.sec1{
    margin:20vh 10vw 10vh; 
}
.interactive{
    width:100%;
    margin-bottom:7vh;
}
h2{
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
    word-spacing: .3rem;
}
.para{
    font-family: 'Alata', sans-serif;
    font-size: .8rem;
    font-weight:300;
    text-align: center;
    padding:3vh 6vw;
    line-height: 1.5rem;
    color:hsl(0, 0%, 55%);
}
.sec2{
    margin-bottom:100px;
}
.images {
    height:20vh;
    color:rgba(255,255,255,.9);
    text-transform: uppercase;
    font-size: 1.3rem;
    margin: 5vh 5vw;
    padding:10vh 0 0 7vw;
    box-shadow: inset 170px 0 50px  rgba(0,0,0,.5) ;
}
.images:last-child{
margin-bottom: 30px;
}
.btn-see{
    background-color: white;
    border:solid 2px black;
    text-transform: uppercase;
    padding : 7px 25px;
    width:130px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    letter-spacing: .2rem;
    font-family: 'Alata', sans-serif;
    opacity:.7;
    font-size: .7rem;
}
footer{
    background-color: black;
    display: flex;
    flex-direction: column;
}
.bottom-nav{
    display: flex;
    flex-direction: column;
}
.bottom-nav .logo{
    width:150px;
    margin: 50px auto 25px;
}
.bottom-nav a{
    color:white;
    text-align: center;
    margin:10px auto;
    font-weight: 300;
    font-family: 'Alata', sans-serif;

}
.social{
    text-align: center;
}
.social img {
    margin:40px 10px 20px;
}
.copyright{
    color:hsl(0, 0%, 55%);
    text-align: center;
    margin-bottom: 50px;;
}

@media only screen and(min-width:750px){

}